@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

::selection, ::-moz-selection {
  color: white;
  background: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
}

#sales{
  background-color: #E8E7E3;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

input[type="number"]::-webkit-outer-spin-button, /*убирает встроенные браузером стрелочки внутри input*/
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}